name: CI
on:
  push:
    branches:
      - "*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Run luacheck
      uses: BigWigsMods/actions/luacheck@master
      with:
        args: -q --ignore 113 212 311

    - name: Package Retail
      uses: BigWigsMods/packager@master
      with:
        args: -d

    - name: Package Classic
      uses: BigWigsMods/packager@master
      with:
        args: -d -g classic